NODE_ENV=development
PORT=3000
DB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/bildyapp?retryWrites=true&w=majority
JWT_SECRET=<tu_secret_de_32_caracteres_minimo>
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
